In [1]:
import numpy as np

## 1. DataTpes & Attributes

In [2]:
# NumPy's main datatype is ndarray
a1 = np.array([1, 2, 3])
print(a1, type(a1))

[1 2 3] <class 'numpy.ndarray'>

In [3]:
print(type(a1))
print(a1.dtype)
print(a1.shape) #shape the first dimension, and the inner dimension
print(a1.ndim)

<class 'numpy.ndarray'>
int64
(3,)
1

In [4]:
a2 = np.array([[1, 2.0, 3.3],
               [4, 5, 6.5]])

a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
               
               [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])

In [5]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [6]:
print(type(a2))
print(a2.dtype)
print(a2.shape) #shape the first dimension, and the inner dimension [[1 ,1 ,1], [2, 2, 2]] 
print(a2.ndim)

<class 'numpy.ndarray'>
float64
(2, 3)
2

In [7]:
print(type(a3))
print(a3.dtype)
print(a3.shape)
print(a3.ndim)

<class 'numpy.ndarray'>
int64
(2, 3, 3)
3

In [8]:
a4 = np.array([[[1, 2, 3],[4, 5, 6]],[[7, 8, 9],[10, 11, 12]]])

In [9]:
print(type(a4))
print(a4.dtype)
print(a4.shape)
print(a4.ndim)

<class 'numpy.ndarray'>
int64
(2, 2, 3)
3

In [10]:
#Create a DataFrame from NumPy array
import pandas as pd

In [11]:
print(a2)

[[1.  2.  3.3]
 [4.  5.  6.5]]

In [12]:
df2 = pd.DataFrame(a2)
df2

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

In [13]:
# upto 2 dimensional array
# df3 = pd.DataFrame(a3)
# df

## Manipulating and comparing array

### Arithmetic

In [14]:
a1

array([1, 2, 3])

In [15]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [16]:
# adding array
a1 + ones

array([2., 3., 4.])

In [17]:
# subtract
a1 - ones

array([0., 1., 2.])

In [18]:
#multiplication
a1 * ones

array([1., 2., 3.])

In [19]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [20]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [21]:
 a1/ones

array([1., 2., 3.])

In [22]:
a2/a1

array([[1.        , 1.        , 1.1       ],
       [4.        , 2.5       , 2.16666667]])

In [23]:
#Floor division removes the decimals (rounds down)
a2 // a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [24]:
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [25]:
np. square(a2) ## np operation same as **

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [26]:
np.add(a1, ones) #np operation same as +

array([2., 3., 4.])

In [27]:
n1 = np.zeros((3,4))
n1.shape

(3, 4)